--
-- PostgreSQL database dump
--

\restrict apY9F81J7Igz2v2oUqsZXEnoxZdXSVvUNuHSrnkfpZB55jQ6GwIPLMCZtCWWwxE

-- Dumped from database version 15.18
-- Dumped by pg_dump version 15.18

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: carrito_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.carrito_items (
    id bigint NOT NULL,
    cantidad integer NOT NULL,
    precio_unitario double precision NOT NULL,
    id_producto bigint NOT NULL,
    id_usuario bigint NOT NULL
);


ALTER TABLE public.carrito_items OWNER TO postgres;

--
-- Name: carrito_items_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.carrito_items ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.carrito_items_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: direcciones; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.direcciones (
    id bigint NOT NULL,
    ciudad character varying(255) NOT NULL,
    direccion character varying(500) NOT NULL,
    facturacion boolean NOT NULL,
    fecha_creacion timestamp(6) without time zone,
    nombre character varying(255) NOT NULL,
    predeterminada boolean NOT NULL,
    referencia character varying(300),
    telefono character varying(255),
    tipo character varying(255) NOT NULL,
    usuario_id bigint NOT NULL
);


ALTER TABLE public.direcciones OWNER TO postgres;

--
-- Name: direcciones_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.direcciones ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.direcciones_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: favoritos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.favoritos (
    id bigint NOT NULL,
    activo boolean NOT NULL,
    fecha_agregado timestamp(6) without time zone NOT NULL,
    producto_id bigint NOT NULL,
    usuario_id bigint NOT NULL
);


ALTER TABLE public.favoritos OWNER TO postgres;

--
-- Name: favoritos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.favoritos ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.favoritos_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: item_pedido; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.item_pedido (
    id bigint NOT NULL,
    cantidad integer,
    nombre_producto character varying(255),
    precio double precision,
    subtotal double precision,
    pedido_id bigint,
    producto_id bigint
);


ALTER TABLE public.item_pedido OWNER TO postgres;

--
-- Name: item_pedido_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.item_pedido ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.item_pedido_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: locales; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.locales (
    id bigint NOT NULL,
    direccion character varying(255),
    horario character varying(255),
    nombre character varying(255),
    telefono character varying(255),
    tipo_despacho character varying(255),
    whatsapp character varying(255),
    activo boolean,
    comer_en_tienda boolean,
    correo character varying(255),
    delivery boolean,
    dias_atencion character varying(255),
    distrito character varying(255),
    hora_apertura time(6) without time zone,
    hora_cierre time(6) without time zone,
    imagen_url character varying(255),
    latitud double precision,
    logo_url character varying(255),
    longitud double precision,
    orden_visual integer,
    referencia character varying(255),
    retiro_en_tienda boolean
);


ALTER TABLE public.locales OWNER TO postgres;

--
-- Name: locales_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.locales ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.locales_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: pagos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pagos (
    id bigint NOT NULL,
    fecha_pago timestamp(6) without time zone,
    metodo_pago character varying(255),
    monto double precision,
    payment_id character varying(255),
    response_json text,
    status character varying(255),
    pedido_id bigint NOT NULL
);


ALTER TABLE public.pagos OWNER TO postgres;

--
-- Name: pagos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.pagos ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.pagos_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: pedido; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pedido (
    id bigint NOT NULL,
    canal character varying(255),
    estado character varying(255),
    fecha timestamp(6) without time zone,
    numero character varying(255),
    observaciones character varying(255),
    total double precision,
    costo_envio double precision,
    descuento double precision,
    direccion_entrega character varying(255),
    instrucciones character varying(255),
    metodo_pago character varying(255),
    numero_pedido character varying(255),
    subtotal double precision,
    tipo_entrega character varying(255),
    usuario_id bigint,
    preference_id character varying(255),
    payment_id character varying(255),
    fecha_actualizacion timestamp without time zone,
    origen character varying(255) DEFAULT 'ONLINE'::character varying,
    listo_para_cocina boolean DEFAULT false,
    nombre_cliente character varying(255),
    telefono_cliente character varying(255)
);


ALTER TABLE public.pedido OWNER TO postgres;

--
-- Name: pedido_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.pedido ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.pedido_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: producto_final; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.producto_final (
    id_producto bigint NOT NULL,
    descripcion text,
    nombre character varying(100) NOT NULL,
    precio double precision NOT NULL,
    tipo character varying(50),
    imagen_url text,
    activo boolean DEFAULT true
);


ALTER TABLE public.producto_final OWNER TO postgres;

--
-- Name: producto_final_id_producto_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.producto_final ALTER COLUMN id_producto ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.producto_final_id_producto_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: tracking_delivery; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tracking_delivery (
    id bigint NOT NULL,
    direccion_cliente character varying(500),
    distancia_km double precision,
    estado character varying(255) NOT NULL,
    eta_minutos integer,
    fecha_completado timestamp(6) without time zone,
    fecha_creacion timestamp(6) without time zone,
    fecha_inicio timestamp(6) without time zone,
    lat_cliente double precision,
    lat_local double precision,
    lat_repartidor double precision,
    lng_cliente double precision,
    lng_local double precision,
    lng_repartidor double precision,
    nombre_repartidor character varying(200),
    numero_pedido character varying(255) NOT NULL,
    pedido_id bigint NOT NULL,
    ultima_actualizacion timestamp(6) without time zone
);


ALTER TABLE public.tracking_delivery OWNER TO postgres;

--
-- Name: tracking_delivery_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.tracking_delivery ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.tracking_delivery_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: usuario; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.usuario (
    id_usuario bigint NOT NULL,
    "contrase├▒a" character varying(255),
    nombre_usuario character varying(255),
    rol character varying(255),
    id bigint NOT NULL,
    password character varying(255) NOT NULL,
    apellidos character varying(255) NOT NULL,
    fecha_nacimiento date NOT NULL,
    nombres character varying(255) NOT NULL,
    numero_documento character varying(255) NOT NULL,
    telefono character varying(255) NOT NULL,
    tipo_documento character varying(255) NOT NULL,
    correo character varying(255) NOT NULL,
    activo boolean DEFAULT true
);


ALTER TABLE public.usuario OWNER TO postgres;

--
-- Name: usuario_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.usuario ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.usuario_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: usuario_id_usuario_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.usuario ALTER COLUMN id_usuario ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.usuario_id_usuario_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: whatsapp_messages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.whatsapp_messages (
    id bigint NOT NULL,
    content character varying(255),
    message_type character varying(255),
    phone_number character varying(255),
    sent_at timestamp(6) without time zone NOT NULL,
    status character varying(255),
    wa_message_id character varying(255),
    pedido_id bigint
);


ALTER TABLE public.whatsapp_messages OWNER TO postgres;

--
-- Name: whatsapp_messages_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.whatsapp_messages ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.whatsapp_messages_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: carrito_items; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.carrito_items (id, cantidad, precio_unitario, id_producto, id_usuario) FROM stdin;
61	1	70	4	18
31	1	62	1	10
\.


--
-- Data for Name: direcciones; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.direcciones (id, ciudad, direccion, facturacion, fecha_creacion, nombre, predeterminada, referencia, telefono, tipo, usuario_id) FROM stdin;
1	Ica	la mar 1140	t	2025-10-02 22:48:06.809007	la mar	t	loza	977779899	casa	2
3	Ica	huacachina	t	2025-11-04 13:06:43.233373	huacachina	f	huacachina	977779899	casa	3
4	Ica	ultimo paradero	t	2026-06-22 11:27:57.977594	pachacutec	t	atalaya		casa	3
5	Ica	Guadalupe	t	2026-07-11 14:36:59.098138	guadalupe	t	loza deportiva		casa	21
\.


--
-- Data for Name: favoritos; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: item_pedido; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: locales; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.locales (id, direccion, horario, nombre, telefono, tipo_despacho, whatsapp, activo, comer_en_tienda, correo, delivery, dias_atencion, distrito, hora_apertura, hora_cierre, imagen_url, latitud, logo_url, longitud, orden_visual, referencia, retiro_en_tienda) FROM stdin;
\.


--
-- Data for Name: pagos; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: pedido; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: producto_final; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: tracking_delivery; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: usuario; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: whatsapp_messages; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.whatsapp_messages (id, content, message_type, phone_number, sent_at, status, wa_message_id, pedido_id) FROM stdin;
\.


--
-- Name: carrito_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.carrito_items_id_seq', 230, true);


--
-- Name: direcciones_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.direcciones_id_seq', 5, true);


--
-- Name: favoritos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.favoritos_id_seq', 24, true);


--
-- Name: item_pedido_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.item_pedido_id_seq', 179, true);


--
-- Name: locales_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.locales_id_seq', 1, false);


--
-- Name: pagos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pagos_id_seq', 60, true);


--
-- Name: pedido_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pedido_id_seq', 168, true);


--
-- Name: producto_final_id_producto_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.producto_final_id_producto_seq', 26, true);


--
-- Name: tracking_delivery_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tracking_delivery_id_seq', 3, true);


--
-- Name: usuario_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.usuario_id_seq', 21, true);


--
-- Name: usuario_id_usuario_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.usuario_id_usuario_seq', 21, true);


--
-- Name: whatsapp_messages_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.whatsapp_messages_id_seq', 1, false);


--
-- Name: carrito_items carrito_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.carrito_items
    ADD CONSTRAINT carrito_items_pkey PRIMARY KEY (id);


--
-- Name: direcciones direcciones_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.direcciones
    ADD CONSTRAINT direcciones_pkey PRIMARY KEY (id);


--
-- Name: favoritos favoritos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.favoritos
    ADD CONSTRAINT favoritos_pkey PRIMARY KEY (id);


--
-- Name: item_pedido item_pedido_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.item_pedido
    ADD CONSTRAINT item_pedido_pkey PRIMARY KEY (id);


--
-- Name: locales locales_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.locales
    ADD CONSTRAINT locales_pkey PRIMARY KEY (id);


--
-- Name: pagos pagos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pagos
    ADD CONSTRAINT pagos_pkey PRIMARY KEY (id);


--
-- Name: pedido pedido_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pedido
    ADD CONSTRAINT pedido_pkey PRIMARY KEY (id);


--
-- Name: producto_final producto_final_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.producto_final
    ADD CONSTRAINT producto_final_pkey PRIMARY KEY (id_producto);


--
-- Name: tracking_delivery tracking_delivery_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tracking_delivery
    ADD CONSTRAINT tracking_delivery_pkey PRIMARY KEY (id);


--
-- Name: usuario uk2mlfr087gb1ce55f2j87o74t; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT uk2mlfr087gb1ce55f2j87o74t UNIQUE (correo);


--
-- Name: pagos uk9ibmqk82q3wpbw2l1jcych5kv; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pagos
    ADD CONSTRAINT uk9ibmqk82q3wpbw2l1jcych5kv UNIQUE (pedido_id);


--
-- Name: usuario ukcyd6xjxln9p38cm60dkrox5no; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT ukcyd6xjxln9p38cm60dkrox5no UNIQUE (numero_documento);


--
-- Name: usuario usuario_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT usuario_pkey PRIMARY KEY (id_usuario);


--
-- Name: whatsapp_messages whatsapp_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.whatsapp_messages
    ADD CONSTRAINT whatsapp_messages_pkey PRIMARY KEY (id);


--
-- Name: favoritos fk197jjv60qkknc6s6uvnel1nr9; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.favoritos
    ADD CONSTRAINT fk197jjv60qkknc6s6uvnel1nr9 FOREIGN KEY (usuario_id) REFERENCES public.usuario(id_usuario);


--
-- Name: carrito_items fk4jdpqhpy4uubysextblnct46v; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.carrito_items
    ADD CONSTRAINT fk4jdpqhpy4uubysextblnct46v FOREIGN KEY (id_producto) REFERENCES public.producto_final(id_producto);


--
-- Name: item_pedido fk60ym08cfoysa17wrn1swyiuda; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.item_pedido
    ADD CONSTRAINT fk60ym08cfoysa17wrn1swyiuda FOREIGN KEY (pedido_id) REFERENCES public.pedido(id);


--
-- Name: pedido fk6uxomgomm93vg965o8brugt00; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pedido
    ADD CONSTRAINT fk6uxomgomm93vg965o8brugt00 FOREIGN KEY (usuario_id) REFERENCES public.usuario(id_usuario);


--
-- Name: favoritos fkcpxe98ytcpi56esnfmm2k886j; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.favoritos
    ADD CONSTRAINT fkcpxe98ytcpi56esnfmm2k886j FOREIGN KEY (producto_id) REFERENCES public.producto_final(id_producto);


--
-- Name: direcciones fkd2mqxt3sjxgtwt4kw4gk5xwvq; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.direcciones
    ADD CONSTRAINT fkd2mqxt3sjxgtwt4kw4gk5xwvq FOREIGN KEY (usuario_id) REFERENCES public.usuario(id_usuario);


--
-- Name: item_pedido fkixpj5vsegw8cbvxljxdo5gkhl; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.item_pedido
    ADD CONSTRAINT fkixpj5vsegw8cbvxljxdo5gkhl FOREIGN KEY (producto_id) REFERENCES public.producto_final(id_producto);


--
-- Name: carrito_items fkn72wc5o01sfyrgwg3akcyapid; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.carrito_items
    ADD CONSTRAINT fkn72wc5o01sfyrgwg3akcyapid FOREIGN KEY (id_usuario) REFERENCES public.usuario(id_usuario);


--
-- Name: pagos fkrfwu5myi9ckac1yowi09m7gqv; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pagos
    ADD CONSTRAINT fkrfwu5myi9ckac1yowi09m7gqv FOREIGN KEY (pedido_id) REFERENCES public.pedido(id);


--
-- Name: whatsapp_messages fks24dosaolmc5lsl4hrnrk0rgu; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.whatsapp_messages
    ADD CONSTRAINT fks24dosaolmc5lsl4hrnrk0rgu FOREIGN KEY (pedido_id) REFERENCES public.pedido(id);


--
-- PostgreSQL database dump complete
--

\unrestrict apY9F81J7Igz2v2oUqsZXEnoxZdXSVvUNuHSrnkfpZB55jQ6GwIPLMCZtCWWwxE

